################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoGestionEmploye/DemoGestionEmploye/obj
/DemoGestionEmploye/.vs/DemoGestionEmploye/v16
/.vs
/DemoGestionEmploye/DemoGestionEmploye/bin/Debug/netcoreapp2.1
/DemoGestionEmploye/.vs/DemoGestionEmploye/DesignTimeBuild
/DemoGestionEmploye/DemoGestionEmploye/wwwroot/lib
