################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoGestionEmploye/DemoGestionEmploye/obj
/DemoGestionEmploye/.vs/DemoGestionEmploye/v16
/.vs
