@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Liste rôles";
}

<h3>Tous les rôles</h3>

@if (Model.Any())
{ 
<a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
   asp-controller="administration">Ajouter un nouveau role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditRole" asp-controller="administration"
                   asp-route-id="@role.Id" style="width:auto">Modifier</a>
                <a href="#" class="btn btn-danger" style="width:auto">Supprimer</a>
            </div>
        </div>
    }
}
else
{
<div class="card">
    <div class="card-header">
        Aucun rôle n'est créé pour le moment
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Utilisez le bouton ci-dessous pour créer un rôle
        </h5>
        <a class="btn btn-primary" style="width:auto"
           asp-controller="administration" asp-action="CreateRole">
            Nouveau Role
        </a>
    </div>
</div>
}
