@model DemoGestionEmploye.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.TitrePage</h3>

    <div>
        Nom : @Model.Name
    </div>
    <div>
        Email : @Model.Email
    </div>
    <div>
        Département : @Model.Departement
    </div>
</body>
</html>