<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.TitrePage</h3>

    <div>
        Nom : @ViewBag.Employee.Name
    </div>
    <div>
        Email : @ViewBag.Employee.Email
    </div>
    <div>
        Département : @ViewBag.Employee.Departement
    </div>
</body>
</html>