@model DemoGestionEmploye.ViewsModels.HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Titre = "Détails employé";
}

<h3>@Model.TitrPage</h3>

<div>
    Nom : @Model.Employee.Name
</div>
<div>
    Email : @Model.Employee.Email
</div>
<div>
    Département : @Model.Employee.Departement
</div>

@section Scripts{
  <script src="~/js/CustomScript.js"></script>
}