@model IEnumerable<Employee>

@{ 
    ViewBag.Titre = "Liste employées";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Département</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.Departement</td>
        </tr>
        }
    </tbody>
</table>
