@if (ViewBag.ErrorTitle == null)
{
    <h3>
        Il s'est produit une erreur lors du traitement de votre demande.
        L'équipe de soutien est notifiée et nous travaillons sur le correctif
    </h3>
    <h5>
        Veuillez nous contacter sur mouha@mouhaweb.com
    </h5>
}
else
{
    <h3 class="text-danger">@ViewBag.ErrorTitle</h3>
    <h6 class ="text-danger">@ViewBag.ErrorMessage</h6>
}
