<h3>
    Il s'est produit une erreur lors du traitement de votre demande.
    L'équipe de soutien est notifiée et nous travaillons sur le correctif
</h3>
<h5>
    Veuillez nous contacter sur mouha@mouhaweb.com
</h5>
<hr />
<h3>Exception Details:</h3>
<div class="alert alert-danger">
    <h5>Chemin de l'erreur</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Message d'erreur</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>
        Trace de pile d'erreur
    </h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>